/* ----- GLOBAL ----- */
$color__white: #FEFEFE;
$color__white--light: #FBFDFD;
$color__black: #000000;
$color__gray--light: #E6E6E6;
$color__gray: #E2E2E2;
$color__blue: #E4F5FF;
$color__blue--light: #CBE8F7;
$color__blue--dark: #022551;
$color__orange: #E14718;

/* ----- PASTEL ----- */
$color__green--pastel: #D9ECD8;
$color__blue--pastel: #CFECEB;