/* -----  BLINK ANIMATION -----*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -----  HIDE ANIMATION -----*/
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -----  TILT LEFT ANIMATION -----*/
@keyframes tiltLeft {
  0% {
    transform: rotate(0deg)
  }
  20% {
    transform: rotate(-5deg)
  }
  60%, 100% {
    transform: rotate(0deg)
  }
}

/* -----  TILT RIGHT ANIMATION -----*/
@keyframes tiltRight {
  0% {
    transform: rotate(0deg)
  }
  20% {
    transform: rotate(5deg)
  }
  60%, 100% {
    transform: rotate(0deg)
  }
}

/* -----  TILT RIGHT LEFT ANIMATION -----*/
@keyframes tiltRightLeft {
  0% {
    transform: rotate(0deg)
  }
  20% {
    transform: rotate(-10deg)
  }
  60%, 100% {
    transform: rotate(0deg)
  }
}