/* ----- MIXIN ----- */
@mixin containedButton($padding, $font-size, $font-color, $bg-color) { // button with background
  padding: $padding;
  max-width: 400px;
  max-height: 74px;

  color: $font-color;
  background-color: $bg-color;

  border-radius: 50px;

  font-family: $font__sintony;
  font-size: $font-size;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
}

@mixin outlinedButton($padding, $font-size) { // button with border but NO background
  padding: $padding;

  border: 2.5px solid $color__black;
  border-radius: 50px;
  
  font-family: $font__sintony;
  font-size: $font-size;
  font-weight: 700;
  text-transform: uppercase;

  letter-spacing: 1px;

  cursor: pointer;

  transition: background .3s;

  &:hover {
    background: $color__black;
    color: $color__white;
  }
}

@mixin textButton($font-size) { // just text, NO border, NO background
  color: $color__black;

  font-family: $font__montserrat;
  font-size: $font-size;
  font-weight: 700;
  text-decoration: none;

  cursor: pointer;
}